// Theme's Styles
@import("/home/peterteszary/Documents/GitHub/helper/helper/docs/node_modules/@vuepress/theme-default/styles/index.styl")

// User's Styles
@import("/home/peterteszary/Documents/GitHub/helper/helper/docs/src/.vuepress/styles/index.styl")